{%  extends 'Zoo/base_wobg.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Staff</title>
</head>
<body>
    {% block content %}
        <br>

        <h2 class="text-center">Add Staff</h2>
        <p class="text-center" style="color: red";>* indicates compulsory field</p>
        <div class="col-md-6 offset-md-3">
        <form method='POST' action = "{% url 'add_staff' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_form.errors %}
             <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                 <p>Your form has errors</p>
                {% for field in user_form %}
                    {% if field.errors %}
                       <p style="color: red">{{ field.errors }}</p>
                    {% endif %}
                {% endfor %}

                 {% for field in profile_form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{ user_form.as_p }}

            {{ profile_form.as_p}}
            <input type="submit" value="Add Staff" class="btn btn-primary">
        </form></div>
    {% endblock %}
</body>
</html>