{%  extends 'Zoo/base_wobg.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% block content %}
    <br>

<div>

        <form method='POST' action = "{% url 'search_department' %}">
        {% csrf_token %}
            <input class="form-control col-sm-12" type="search" placeholder="Search" aria-label="Search" name="search_text">
      <button class="btn btn-outline-success my-2 my-sm-2" type="submit" >Search</button>
    </form>
        </div>
    <div class="row">

        <div class="col-sm-12">
            <h2 class="text-center">SEARCH LIST</h2>
        {% if depts.count > 0  %}
            <div class="col-md-6 offset-md-3">
                <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                    {% for dept in depts %}
                        <tr>
                <td>{{ dept.id }}</td>
                <td>{{ dept.name }}</td>
                <td>
                    <a href="{% url 'profile' dept.id%}">View</a>
                </td>
                </tr>
            {% endfor %}
    </table>
            {% else %}
            {{ 'No records to display' }}
                {% endif %}
            </div>
         </div>
        <div class="text-left">
            <a class="btn btn-primary" role="button" href="{% url 'home' %}" >Back</a>
        </div>



    </div>

    {% endblock %}

</body>
</html>