{%  extends 'Zoo/base_wobg.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Manages Relation</title>
</head>
<body>
    {% block content %}
        <br>

        <form class="form-horizontal" role="form" action="{% url 'edit_manages' manages.id %}" method="post">
        <div class="col-md-6 offset-md-3">
        {% csrf_token %}
        {% if form.errors %}
             <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                 <p>Your form has errors</p>
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
            <input type="submit" value="Edit Manages Relation" class="btn btn-primary">
        </div>
        </form>
    {% endblock %}

</body>
</html>