{%  extends 'Zoo/base_wobg.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lives In Profile</title>
</head>
<body>
{% block content %}
<br>

    Animal= {{ key.animal.commonname }}
    <br>
    Exhibit = {{ key.exhibit.name }}

    <p></p>
    <div>
        <div class="text-left">
        <a class="btn btn-primary" role="button" href="{% url 'edit_lives_in' key.id %}" >Edit</a>
        <a class="btn btn-primary" role="button" href="{% url 'delete_lives_in' key.id%}" >Delete</a>
        </div>
    </div>



{% endblock %}

</body>
</html>