{%  extends 'Zoo/base_wobg.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Works In Profile</title>
</head>
<body>
{% block content %}
<br>
    Staff= {{ key.staff.firstname }}
    <br>
    Dept= {{ key.dept.name }}

    <p></p>
    <div>
        <div class="text-left">

        <a class="btn btn-primary" role="button" href="{% url 'edit_works_in' key.id %}" >Edit</a>
        <a class="btn btn-primary" role="button" href="{% url 'delete_works_in' key.id%}" >Delete</a>
        </div>
    </div>



{% endblock %}

</body>
</html>