{%  extends 'Zoo/base_wobg.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

    <br>
    <h1 class = text-center>Gallery</h1>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Chimp001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Chimpanzee</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Chimp002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Chimpanzee</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Lion001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">African Lion</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Lion002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">African Lion</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Lion003.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">African Lion</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Elephant001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Elephant</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Elephant002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Elephant</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Giraffe001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Giraffe</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Tiger001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Royal Bengal Tiger</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Tiger002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Royal Bengal Tiger</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Rhino001.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">White Rhino</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Animals/Rhino002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">White Rhino</h5>
      </div>
  </div>
</div>
<br>
{% endblock %}
</body>
</html>