{%  extends 'Zoo/base_wobg.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

    <br>
    <h1 class = text-center>Gallery</h1>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua001.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Clown Fish</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua002.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Jelly Fish</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua003.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Octopus</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua004.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Lion Fish</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua005.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Peacock Wolf Eel</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua006.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Red-bellied Piranha</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua007.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Bornean Eared Frog</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua008.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Sea Horse</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Marine/aqua009.jpg" alt="Card image cap">
       <div class="card-body">
      <h5 class="card-title text-center">Cowfish</h5>
      </div>
  </div>
</div>
<br>
{% endblock %}
</body>
</html>