{%  extends 'Zoo/base_wobg.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

    <br>
    <h1 class = text-center>Gallery</h1>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds001.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Black Swan</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds009.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Ibis</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds003.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Macaw</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Parrot001.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Parakeet</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Flamingo001.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">White Pelican</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds008.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Ostrich</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds005.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Duck</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds006.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">White Pelican</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds007.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Ostrich</h5>
      </div>
  </div>
</div>
    <br>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds010.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Ibis</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds011.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Sea Duck</h5>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../../static/Zoo-Images/Birds/Birds012.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Night Heron</h5>
      </div>
  </div>
</div>
<br>
{% endblock %}
</body>
</html>